.dashboard {
  background-color: #E2E8F0;
  min-height: 100vh;
  padding-top: 16vh;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dash-div {
  background-image: linear-gradient(90deg, #0ea5e9 6px, white 1px);
  box-shadow: 3px 3px 5px #0004;
  padding: 30px;
  width: 26vw;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 700;
  font-size: 20px;
}

.dash-tile {
  display: flex;
  flex-direction: column;
}

.dash-tile-empty {
  color: white;
  user-select: none;
}

.dash-tile>.title {
  font-size: 14px;
  font-weight: 400;
  cursor: default;
}

.dash-tile>.value {
  font-size: 18px;
  font-weight: 500;
}