.head-nav {
  background-color: transparent;
  backdrop-filter: blur(10px);
  box-shadow: 0px 4px 4px 0px #00000017;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 12vh;
  z-index: 1;

  font-weight: 700;
  font-size: 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.side-menu {
  cursor: pointer;
}

.side-nav {
  background-color: transparent;
  backdrop-filter: blur(7px);
  box-shadow: 4px 0px 4px 0px #00000017;

  position: fixed;
  left: 0;
  top: 12vh;
  bottom: 0;
  width: 250px;
  z-index: 1;

  font-weight: 500;
  font-size: 24px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  transition: translate cubic-bezier(1, -0.02, 0.49, 0.92) 350ms;
  translate: -250px 0;
}

.show-sidebar {
  translate: 0px 0;

}